@model Movie
@{
    ViewData["Title"] = Model.Title;
    var averageRating = (double)ViewData["AverageRating"];
    var numberOfRatings = (int)ViewData["NumberOfRatings"];
    var hasRated = (bool)ViewData["HasRated"];
}

<div class="movie-item">
    <img src="@Model.ImageUrl" alt="@Model.Title" class="movie-image" />
    <div class="movie-details">
        <h1>@Model.Title</h1>
        <br />
        <p><strong>Średnia ocena:</strong> @averageRating (od @numberOfRatings ocen)</p>
        <br />
        <p><strong>Opis filmu:</strong> @Model.Description</p>
        <br />

        @if (!hasRated)
        {
            <h4>Oceń film:</h4>
            <form asp-controller="Repertuar" asp-action="RateMovie" method="post">
                <div class="rating-container">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="rating-option">
                            <input type="radio" id="rating-@i" name="rating" value="@i" />
                            <label for="rating-@i">@i ★</label>
                        </div>
                    }
                </div>
                <input type="hidden" name="movieId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Oceń</button>
            </form>
        }
        else
        {
            <p class="alert alert-info">Dziękujemy! Już oceniłeś ten film.</p>
        }

        <h4>Zarezerwuj seans:</h4>
        <form asp-controller="Repertuar" asp-action="Rezerwacja" method="post">
            <div class="rating-container">
                <div class="rating-option">
                    <input type="date" id="data" name="data" required />
                    <input type="time" id="time" name="time" required />
                    <input type="hidden" name="MovieID" value="@Model.Id" />
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Zarezerwuj</button>
        </form>

        @if (TempData["ReservationSuccessMessage"] != null)
        {
            <p class="alert alert-success">@TempData["ReservationSuccessMessage"]</p>
        }

        <a href="/Repertuar" class="btn btn-secondary">Wróć do Repertuaru</a>
    </div>
</div>

    <style>
        .movie-item {
            display: flex;
            align-items: center;
        }

            .movie-item img {
                width: 400px;
                height: auto;
                margin-right: 20px;
                border-radius: 8px;
                object-fit: cover;
            }

        .movie-details {
            flex: 1;
        }

            .movie-details h1 {
                margin: 0 0 10px 0;
                font-size: 10em;
                color: #FFFFFF;
                font-weight: bold;
                text-align: center;
            }

            .movie-details p {
                margin: 0;
                font-size: 1.1em;
                color: #FFFFFF;
                line-height: 1.5;
                text-align: center;
            }

            .movie-details h4 {
                margin: 0 0 10px 0;
                font-size: 1.1em;
                color: #FFFFFF;
                line-height: 1.5;
                text-align: left;
            }

        .btn-primary {
            display: flex;
            text-align: right;
            background-color: #101084;
            border-color: #101084;
        }

            .btn-primary:hover {
                background-color: #101084;
                border-color: #ffffff;
            }

        .btn-secondary {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #101084;
            border-color: #101084;
        }

        .btn-secondary:hover {
            background-color: #101084;
            border-color: #ffffff;
        }
        .rating-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .rating-option {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .rating-option input {
                margin-bottom: 5px;
            }

            .rating-option label {
                color: #FFFFFF;
                font-size: 1.1em;
            }

        .alert {
            background-color: #11ff11;
            border-color: #ffffff;
        }
    </style>
